.text-box{
    margin-bottom: 14px;
}

.text-box__label {
    display: block;   
    color: #AFB6C2;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 6px;
}

.text-box__icon {
    padding: 8px;
    position: absolute; 
    margin-left: -35px;
}

.text-box__eye {
    padding: 8px;
    position: absolute;
    right: 25px;   
}

.text-box__input {  
    font-family: Roboto, sans-serif;
    border: 1px solid #AFB6C2;
    border-radius: 5px;
    padding: 10px 10px 10px 40px;
    width: 100%;
    outline: none;
    font-size: 14px;
    color: #A9AFB9;   
    border: 1px solid #AFB6C2; 
    box-sizing: border-box;
    border-radius: 5px;
    background: none;
}
