.remember-pass{
    display: flex; 
    align-items: center;
    justify-content:space-between;
   margin: 14px 0; 
}

.box {   
    display: flex;    
    align-items: center;
    justify-content: center;    
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #4E4D4D;
    border-radius: 4px;   
    background: #4E4D4D; 
}

.remember-pass__link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #F4FFF7;
    margin: 0;
    font-weight: regular;
    
}	

.remember-pass__span{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #41A55B;
    margin: 0;
    font-weight: bold;
}